.container {
    padding: 0 20%;
}

.question {
    background-color: #222;
    color: #fff;
    padding: 100px;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.answer {
    display: flex;
    justify-content: space-between;
}

.answer div{
    width: 300px;
    height: 200px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 200px;
    color: #fff;
}

#yes {
    background-color: #1AA260;
    cursor: pointer;
}

#no {
    background-color: #DD5044;
    cursor: pointer;
}

#iloveyou {
    position: relative;
    height: 300px;
    display: none;
}

#iloveyou img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}